<IfModule mod_rewrite.c>
	Options All
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond $1 !^(mywebsql)
	RewriteRule ^ index.php [L]
</IfModule>